<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <div class="logo">
          <img src="/restaurant.png" alt="Logo">
        </div>
        <ul>
          <li>
              <a href="/logout">Logout</a>
          </li>
          <li>
            <a href="/home">Back to Home</a>
          </li>
        </ul>
      </header>
    <p>
        Главна цел на проектот е од естетска гледна точка софистицирана и прегледна
апликација која листа и сортира локации на ресторани во Скопје.Фокусот е несомнено наоѓањето ,мапирањето и навигацијата на рестораните.
FindRestoraunts е веб апликација која содржи база со сите локации на ресторани во
Македонија.</p>
<br>
<p>
Платформата Google maps развиена од страна на Google е сконцентрирана
ислучиво на лоцирање на сите можни објекти на Земјава,додека пак истовремено
постојат и помали апликации развиени од страна на поголемите трговски центри и
светски ресторани </p>
<br>
<p>
Апликацијава е од големо значење за многу категории на клиенти и од нашава
држава, а посебно за странските туристи.
Факт е дека многу од нас трошат значајно време во изборот на ресторан ,без
разлика дали се работи за приватен повод или службен.Факт е и дека најголем
дел од нас не се запознаени ниту со 2 % од изобилството на ваквите објекти дури
ни во својата држава.</p>
<p>
    <br>
Секако подеднаков е и бенефитот и за сопствениците на
рестораните кои на овој начин би биле видени и предложени од страна на веб
апликацијата за 100% повеќе одколку сега кога ваква апликација за жал не постои.
FinedRestoran е апликација за мапирање и навигација на најдобриот ресторан за
вас.Се што треба да направите е да ги кажете вашите услови и да одберете во
која локациска регија сакате да уживате во совршениот ресторан за вас и вашата
придружба.Затворете ги очите и FinedRestoran за миг ќе ве однесе таму.
    </p>
</body>
</html>