<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <p>
        Главна цел на проектот е од естетска гледна точка софистицирана и прегледна
апликација која листа и сортира локации на ресторани во нашата држава по
избрани категории(обсек на буџет, обсек на географска оддалеченост , тип на
кујна ,потенцирани исклучоци) од страна на човекот.Фокусот е несомнено
наоѓањето ,мапирањето и навигацијата на рестораните.
FinedRestoran е веб апликација која содржи база со сите локации на ресторани во
Македонија ,како и база со перформанси, критики и понуди во истите.Работи на
принцип на филтрирање на внесените барања и услови од страна на човекот со
крајна цел приказ на најсоодветната опција по сите категории.
Платформата Google maps развиена од страна на Google е сконцентрирана
ислучиво на лоцирање на сите можни објекти на Земјава,додека пак истовремено
постојат и помали апликации развиени од страна на поголемите трговски центри и
светски ресторани (ретки во Македонија) преку кои мозе да се изврши нарачка по
електронски пат, пр. kliknijadi.mk .
FinedRestoran е мешавина од типот апликација како Google Maps и типот
апликации како kliknijadi.mk.
Начинот на користење на апликацијата би бил брз и едноставен.Луѓето
потполнуваат какви барања и услови имаат по секоја категорија и на клик
добиваат најдобар резултат.
Апликацијава е од големо значење за многу категории на клиенти и од нашава
држава, а посебно за странските туристи.
Факт е дека многу од нас трошат значајно време во изборот на ресторан ,без
разлика дали се работи за приватен повод или службен.Факт е и дека најголем
дел од нас не се запознаени ниту со 2 % од изобилството на ваквите објекти дури
ни во својата држава.Секако подеднаков е и бенефитот и за сопствениците на
рестораните кои на овој начин би биле видени и предложени од страна на веб
апликацијата за 100% повеќе одколку сега кога ваква апликација за жал не постои.
FinedRestoran е апликација за мапирање и навигација на најдобриот ресторан за
вас.Се што треба да направите е да ги кажете вашите услови и да одберете во
која локациска регија сакате да уживате во совршениот ресторан за вас и вашата
придружба.Затворете ги очите и FinedRestoran за миг ќе ве однесе таму.
    </p>
</body>
</html>