<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="logo">
          <img src="/restaurant.png" alt="Logo">
        </div>
        <ul>
          <li>
            <a href="/about">About Page</a>
          </li>
        </ul>
      </header>
    <br>
    <div class="enter">
    <h1>Welcome to FindRestaurants page, please enter to view Restaurants!</h1>
    <br>
    <form action="/login" method="POST">
        <div>
            <input class="inputInfo" type="email" name="email" placeholder="Enter email">
        </div>
        <div>
            <input class="inputInfo" type="password" name="password" placeholder="Enter password">
       </div>
        <div>
            <button class="loginButton" type="submit">Login</button>
        </div>
    </div>
    </form>
    <span>Don't have an account? register <a href="/register">here</a></span>
</body>
</html>