

<style>
	#map {
		height: 70%;
	}
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
</style>

 
<div class="" id="map"></div>


<script>
	let map

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: 42, lng: 21.456 },
			zoom: 14
		})
        
        

        // new google.maps.Marker({
        //         position: { lat: 42, lng: 21.456 },
        //         map: map,
        //     })
        // <% for(let i = 0; i < gateways.length; i++) { %>
        
        //     new google.maps.Marker({
        //         position: { lat: <%= gateways[i].location.latitude %>, lng: <%= gateways[i].location.longitude %> },
        //         map: map,
        //         icon: 'http://localhost:3000/images/antenna.png',
        //         scale: 0.1,
        //         title: '<%= gateways[i].name %>'
        //     })

        // <% } %>
	}
</script>


<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMraH0dFJoaQ2yJMW7R3cdAYXFpjDAaXc&callback=initMap">
</script>
