* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 50%;
    min-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 
div {
    width: 100%;
    margin-bottom: 1rem;
}
input, button {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid black;
}
button {
    background-color: burlywood;
    color: black;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}